<div class="container">

<h1>Edit Ticket #<%= @post.id %></h1>

<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>

<div class="timer"></div>

</div>


<div class="bar">
	<div class="left">MOUSE MOVEMENT</div>
	<div class="right">KEY PRESS</div>
</div>


<script type="text/javascript">
lastMouseMove = new Date().getTime();
lastKeyPress = new Date().getTime();

document.body.onmousemove = function(){lastMouseMove = new Date().getTime();refreshColor();};
document.body.onkeypress = function(){lastKeyPress = new Date().getTime();refreshColor();};

// Lock
var last_time = null;
var update_time = null;

// Timer
var start = <%= @post.spent_time %>;

function get_last_time() {
	$.get("/posts/<%= @post.id %>/time", function(data, status){
		last_time = data;
	});

	return last_time;
}

function check() {
	get_last_time();
}



var focused = true;

window.onfocus = function() {
    focused = true;
};
window.onblur = function() {
    focused = false;
};

function cross_check() {

	if(last_time != null && update_time != null) {
		if((last_time-update_time) > 0) {
			alert("Another user is editing your form");
			window.location = "/posts?crossError=1";
		}
	}
}

}


function update_post() {

	cross_check()

	if(focused && ((new Date().getTime() - lastMouseMove) < 10000 || (new Date().getTime() - lastKeyPress) < 10000)) {

		var time =	start;

		$.ajax({
			type: "POST",
			url: "/posts/<%= @post.id %>/notify/" + time,
			dataType: 'JSON'
		}).done(function () {
			update_time = new Date().getTime();
		});

	}
}

function refreshColor() {
	if((new Date().getTime() - lastMouseMove) < 1000) {
		$(".bar .left").css("background-color", "#00FFFF");
	} else {
		$(".bar .left").css("background-color", "#EEEEEE");
	}

	if((new Date().getTime() - lastKeyPress) < 1000) {
		$(".bar .right").css("background-color", "#FF00FF");
	} else {
		$(".bar .right").css("background-color", "#EEEEEE");
	}

}

function refresh() {
	check();
	update_post();
	refreshColor();
	console.log(update_time);
}

setInterval(refresh, 2000);
setInterval(cross_check, 2000);

setInterval(function() {

if(focused && ((new Date().getTime() - lastMouseMove) < 10000 || (new Date().getTime() - lastKeyPress) < 10000)) {	
	start += 1;

  $('.timer').text(start + " sec");
}
  
  
}, 1000);
</script>
